h1 {
  text-align: center;
  color: #3737a4;
  margin: 8px;
}

h3 {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 75px;
  color: #7af891;
}

table.table-hover{
  background-color: rgb(255, 241, 188);
  text-align: center;
}
