h1 {
  text-align: center;
  color: #3737a4;
  margin: 8px;
}

h3 {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 75px;
  color: darkgoldenrod;
}

table.table-hover{
  background-color: rgb(201, 229, 241);
  text-align: center;
}
